/Traffic_Sign_Recognition/model/data/Train/0
/Traffic_Sign_Recognition/model/data/Train/1
/Traffic_Sign_Recognition/model/data/Train/2
/Traffic_Sign_Recognition/model/data/Train/3
/Traffic_Sign_Recognition/model/data/Train/4
/Traffic_Sign_Recognition/model/data/Train/5
/Traffic_Sign_Recognition/model/data/Train/6
/Traffic_Sign_Recognition/model/data/Train/7
/Traffic_Sign_Recognition/model/data/Train/20
/Traffic_Sign_Recognition/model/data/Train/14
/Traffic_Sign_Recognition/model/data/Train/15
/Traffic_Sign_Recognition/model/data/Train/16
/Traffic_Sign_Recognition/model/data/Train/18
/Traffic_Sign_Recognition/model/data/Train/19
/Traffic_Sign_Recognition/model/data/Train/12
/Traffic_Sign_Recognition/model/data/Train/42

